#about
    padding: 80px 0
    .box
        h1
            font-size: 60px
            font-weight: 700
        h3
            font-size: 20px
            color: #6c757d
            margin: 20px 0
    .textbox
        display: flex
        justify-content: center
        align-content: center
        padding: 50px 0
        h2
            font-size: 25px
            font-weight: 700
        h3
            font-size: 18px
            color: #6c757d
            margin: 8px 0 0
            line-height: 1.4
        .imgbox
            img
                border-radius: 100px
                border: 7px solid #e9ecef
        .circlebox
            background-color: #ffc800
            border-radius: 100px
            border: 7px solid #e9ecef
            color: #ffff
    @media screen and (min-width: 300px)
        .textbox
            h3
                margin-bottom: 10px
        .imgbox
            img
                width: 100px
                height: 100px
                position: relative
                left: 25%
        .txt-right
            text-align: left
            margin-left: 15%
            position: relative
            right: 2%
        .txt-left
            text-align: left
            margin-left: 15%
            position: relative
            right: 2%
        .circlebox
            width: 80px
            height: 80px
            font-size: 15px
            position: relative
            right: 35%
            text-align: center
            padding: 10px 10px
    @media screen and (min-width: 770px)
        .textbox
            h3
                margin-bottom: 10px
        .imgbox
            img
                width: 120px
                height: 120px
                position: relative
                margin-right: 5px
        .txt-right
            text-align: left
            margin-left: 20%
            position: relative
            right: 5%
        .txt-left
            text-align: left
            margin-left: 20%
            position: relative
            right: 5%
        .circlebox
            width: 110px
            height: 110px
            font-size: 20px
            position: relative
            right: 35%
            text-align: center
            padding: 15px 15px
    @media screen and (min-width: 992px)
        .imgbox
            img
                width: 145px
                height: 145px
                position: absolute
                left: 45%
        .txt-right
            text-align: left
            margin-left: 70%
            position: relative
            right: 10%
        .txt-left
            text-align: right
            margin-right: 50%
            position: relative
            right: 10%
        .circlebox
            width: 160px
            height: 160px
            position: absolute
            left: 45%
            font-size: 25px
            font-weight: 600
            padding: 30px 30px
            line-height: 1.3
           
